@import "vars";

.blog {
    margin-bottom: 750px;

    &__item {
      display: flex;
      flex-direction: column;
      width: 570px;
      position: absolute;
      
    }
    /*&__img {
        background-image: url("../img/blog.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }*/


    &__title {
        text-transform: uppercase;
        color: $accent;
        text-align: start;
        padding-top: 20px;
    }

    &__author {
        text-align: start;
    }
   
    &__text {
        color: $grey;
        text-align: start;
        font-weight: normal;
        line-height: 21.6px;
    }

    &__btn {
        text-transform: uppercase;
        border: 1px solid black;
        width: 144px;
    
    &:hover {
        color: $accent;
        background-color: $grey;
      }
    }
}  

