@import "vars";

.footer {
    margin-top: 400px;
    background-image: url("../img/footer-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 65px 0;

    &__text {
    color: white;
    }
}
